html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fbf3;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #f9fbf3;
  padding: 32px 0px;
  z-index: 100;
}
.header .header-container {
  position: relative;
}
.header .header-container .header-logo {
  position: absolute;
  left: 0px;
}
.header .header-container .header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: 42px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
}
.header .header-container .header-menu a {
  text-decoration: none;
  color: #f9fbf3;
}
.header .header-container .header-menu .header-menu-item {
  cursor: pointer;
}
.header .header-container .burger-menu-btn {
  width: 24px;
  height: 24px;
  background-image: url(images/burger-menu-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.header .burger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #f9fbf3;
  z-index: 1000;
}

.main .preview-section {
  height: 100vh;
  min-height: 900px;
  position: relative;
}
.main .preview-section .preview-section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e0e0e;
  opacity: 0.5;
  z-index: 2;
}
.main .preview-section .preview-section-container {
  max-width: 1280px;
  width: calc(100% - 160px);
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.main .preview-section .preview-section-container .swiper-scrollbar {
  width: 335px;
  background-color: rgba(249, 251, 243, 0.5215686275);
  bottom: 70px;
  left: 0px;
  position: absolute;
  z-index: 1000;
}
.main .preview-section .preview-section-container .swiper-scrollbar .swiper-page {
  position: absolute;
  color: #f9fbf3;
  top: -40px;
  font-weight: 700;
}
.main .preview-section .preview-section-container .swiper-scrollbar .swiper-start-page {
  left: 0px;
}
.main .preview-section .preview-section-container .swiper-scrollbar .swiper-end-page {
  right: 0px;
}
.main .preview-section .preview-section-container .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #f9fbf3;
}
.main .preview-section .preview-experience-container {
  position: absolute;
  right: 0px;
  top: 100px;
  color: #f9fbf3;
  width: 221px;
}
.main .preview-section .preview-experience-container .preview-experience-wrapper {
  position: relative;
  padding: 24px 16px;
  border-radius: 20px;
  z-index: 0;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #f9fbf3;
}
.main .preview-section .preview-experience-container .preview-experience-wrapper .preview-experience-wrapper-title {
  font-weight: 700;
}
.main .preview-section .preview-experience-container .preview-experience-wrapper .preview-experience-wrapper-opacity {
  opacity: 0.75;
}
.main .preview-section .preview-experience-container .preview-experience-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(210.88deg, rgba(255, 255, 255, 0.5) 2.43%, rgba(255, 255, 255, 0.1) 91.88%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.main .preview-section .swiper {
  height: 100vh;
  min-height: 900px;
}
.main .preview-section .swiper .swiper-slide {
  z-index: -1;
  position: relative;
  overflow: hidden;
}
.main .preview-section .swiper .swiper-slide > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .preview-section .swiper .scroll-container {
  position: relative;
  z-index: 100;
}
.main .preview-section .slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f9fbf3;
}
.main .preview-section .slider-content .slide-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 92px;
  color: white;
}
.main .preview-section .slider-content .slide-title-bold {
  font-weight: 600;
  margin-top: 19px;
}
.main .preview-section .slider-content .slide-subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-top: 37px;
  margin-bottom: 32px;
  color: #f9fbf3;
  opacity: 0.75;
  width: 60%;
}
.main .preview-section .slider-content .slide-buttons-row {
  display: flex;
  gap: 28px;
  align-items: center;
}
.main .preview-section .slider-content .slide-buttons-row .slide-cooperation-btn {
  font-family: "Roboto", sans-serif;
  padding: 10px 40px;
  color: #374836;
  background-color: #f9fbf3;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
.main .preview-section .slider-content .slide-buttons-row .projects-link {
  text-decoration: none;
  color: #f9fbf3;
}
.main .preview-section .slider-content .slide-buttons-row .projects-link > div {
  border-bottom: 1px solid #f9fbf3;
  padding-bottom: 7px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.main .preview-section .slide-link-container {
  position: absolute;
  bottom: 70px;
  right: 0px;
  border-radius: 20px;
  z-index: 0;
  max-width: 410px;
  color: #f9fbf3;
  padding: 25px 16px 25px 25px;
  background: linear-gradient(260.88deg, rgba(255, 255, 255, 0.5) 2.43%, rgba(255, 255, 255, 0.1) 91.88%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main .preview-section .slide-link-container .slide-link-images-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main .preview-section .slide-link-container .slide-link-images-row .location-img {
  width: 22px;
  height: 30px;
  background-image: url(images/location.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main .preview-section .slide-link-container .slide-link-images-row .link-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #374836;
  background-image: url(images/link-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main .preview-section .slide-link-container .slide-link-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;
}
.main .preview-section .slide-link-container .slide-link-subtitle {
  opacity: 0.75;
  line-height: 24px;
}
.main .preview-section .slide-link-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(260.88deg, rgba(255, 255, 255, 0.5) 2.43%, rgba(255, 255, 255, 0.1) 91.88%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.main .description-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 324px;
}
.main .description-section .description-content {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -3px;
  color: #242924;
  width: 85%;
  margin-bottom: 78px;
}
.main .description-section .description-container {
  padding-right: 16px;
  padding-left: 80px;
  max-width: 1352px;
  margin: 0 auto;
}
.main .description-section .description-bg {
  background-image: url(images/numbers-bg-2.png);
  background-position: left 60% bottom -200px;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main .description-section .description-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main .description-section .description-content-row .description-row {
  display: flex;
  gap: 60px;
}
.main .description-section .description-content-row .description-row .description-row-item .description-row-item-title {
  font-size: 95px;
  font-weight: 700;
  line-height: 104.5px;
  letter-spacing: -3px;
  color: #374836;
}
.main .description-section .description-content-row .description-row .description-row-item .description-row-item-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #7f8f80;
}
.main .description-section .description-content-row .description-text {
  width: 40%;
  color: #7f8f80;
  line-height: 26px;
}
.main .cooperation-section {
  background-color: #374836;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 280px;
}
.main .cooperation-section .cooperation-title-row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 180px;
}
.main .cooperation-section .cooperation-title-row .cooperation-title {
  font-size: 80px;
  font-weight: 200;
  line-height: 88px;
  text-transform: uppercase;
}
.main .cooperation-section .cooperation-title-row .cooperation-title .bold-text {
  font-weight: 600;
}
.main .cooperation-section .cooperation-title-row .cooperation-title .bold-text > span {
  color: #849d83;
}
.main .cooperation-section .cooperation-title-row .cooperation-subtitle .cooperation-subtitle-breakets {
  display: flex;
  gap: 12px;
  min-width: 150px;
}
.main .cooperation-section .cooperation-title-row .cooperation-subtitle .cooperation-arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f9fbf3;
  background-image: url(images/arrow-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 64px;
  margin-left: 19px;
}
.main .cooperation-section .cooperation-content .cooperation-bar {
  height: 2px;
  width: 100%;
  margin: 42px 0px;
  background: linear-gradient(-90deg, #f9fbf3 45%, rgba(249, 251, 243, 0) 100%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
}
.main .cooperation-section .cooperation-content .cooperation-bar .cooperation-bar-circle {
  width: 24px;
  height: 24px;
  background-color: #f9fbf3;
  border-radius: 50%;
  margin-top: -10px;
  position: relative;
}
.main .cooperation-section .cooperation-content .cooperation-step {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 330px;
  max-width: 400px;
}
.main .cooperation-section .cooperation-content .cooperation-step .cooperation-step-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.main .cooperation-section .cooperation-content .cooperation-step .cooperation-step-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.5;
}
.main .cooperation-section .cooperation-content .cooperation-step-3 {
  position: absolute;
  bottom: 55px;
}
.main .cooperation-section .cooperation-content .cooperation-step-2,
.main .cooperation-section .cooperation-content .cooperation-step-4 {
  position: absolute;
  top: 55px;
}
.main .cooperation-section .cooperation-content .cooperation-tablet-steps {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 44px 20px;
}
.main .cooperation-section .cooperation-content .cooperation-tablet-steps .cooperation-step-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 12px;
}
.main .cooperation-section .cooperation-content .cooperation-tablet-steps .cooperation-step-subtitle {
  font-size: 20px;
  line-height: 30px;
  opacity: 0.5;
}
.main .services-section {
  padding-top: 60px;
  padding-bottom: 120px;
}
.main .services-section .services-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #374836;
  margin-bottom: 36px;
}
.main .services-section .services-header-row .services-subtitle-breakets {
  display: flex;
  gap: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.main .services-section .services-header-row .services-subtitle-underline {
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #374836;
}
.main .services-section .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  transition: grid-template-columns 0.5s;
}
.main .services-section .services-container .services-item {
  min-height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9fbf3;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: all 0.5s;
}
.main .services-section .services-container .services-item .services-item-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  z-index: 10;
  text-transform: uppercase;
  transition: all 0.5s;
}
.main .services-section .services-container .services-item .services-item-subtitle {
  line-height: 24px;
  z-index: 10;
  transition: all 0.5s;
}
.main .services-section .services-container .services-item .services-item-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.92%, rgba(0, 0, 0, 0.4) 74.32%);
}
.main .services-section .services-container .services-item-big .services-item-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.05em;
}
.main .services-section .services-container .services-item-big .services-item-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.main .services-section .services-container .services-item-big .services-item-cover {
  border-radius: 40px;
}
.main .services-section .services-container .services-item-1 {
  background-image: url(images/services-item-img-1.png);
}
.main .services-section .services-container .services-item-2 {
  background-image: url(images/services-item-img-2.jpg);
}
.main .services-section .services-container .services-item-3 {
  background-image: url(images/services-item-img-3.jpg);
}
.main .services-section .services-container .services-item-4 {
  background-image: url(images/services-item-img-4.jpg);
}
.main .services-section .hovered-1 {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.main .services-section .hovered-1 .services-item-1 .services-item-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.05em;
}
.main .services-section .hovered-1 .services-item-1 .services-item-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.main .services-section .hovered-2 {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
.main .services-section .hovered-2 .services-item-2 .services-item-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.05em;
}
.main .services-section .hovered-2 .services-item-2 .services-item-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.main .services-section .hovered-3 {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
.main .services-section .hovered-3 .services-item-3 .services-item-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.05em;
}
.main .services-section .hovered-3 .services-item-3 .services-item-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.main .services-section .hovered-4 {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}
.main .services-section .hovered-4 .services-item-4 .services-item-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.05em;
}
.main .services-section .hovered-4 .services-item-4 .services-item-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.main .thoughts-section {
  background-color: #e1ece3;
  padding: 100px 0px;
}
.main .thoughts-section .thoughts-section-container {
  padding-right: 200px;
  padding-left: 200px;
  margin: 0 auto;
  max-width: 1000px;
}
.main .thoughts-section .thoughts-subtitle-breakets {
  display: flex;
  gap: 12px;
  color: #374836;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 43px;
  justify-content: center;
}
.main .thoughts-section .thoughts-container {
  display: flex;
  gap: 56px;
}
.main .thoughts-section .thoughts-container .thoughts-photo {
  min-width: 193px;
  height: 193px;
  border-radius: 50%;
  background-image: url(images/thoughts-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.main .thoughts-section .thoughts-container .thoughts-content {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.main .thoughts-section .thoughts-container .thoughts-content .thoughts-text {
  margin-bottom: 24px;
}
.main .thoughts-section .thoughts-container .thoughts-content .thoughts-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.main .thoughts-section .thoughts-container .thoughts-content .thoughts-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #7f8f80;
}
.main .projects-section {
  padding-top: 83px;
  padding-bottom: 83px;
}
.main .projects-section .projects-header-row {
  display: flex;
  gap: 30px;
  margin-bottom: 64px;
}
.main .projects-section .projects-header-row .projects-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  color: #374836;
  text-transform: uppercase;
}
.main .projects-section .projects-header-row .projects-title span {
  color: #7f8f80;
}
.main .projects-section .projects-header-row .projects-subtitle-breakets {
  display: flex;
  gap: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.main .projects-section .projects-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}
.main .projects-section .projects-container .projects-wrapper {
  display: flex;
  gap: 24px;
  margin-right: -80px;
}
.main .projects-section .projects-container .projects-wrapper .projects-swiper {
  width: 80%;
  margin-left: 0px;
  margin-right: 0;
}
.main .projects-section .projects-container .projects-wrapper .projects-swiper .projects-swiper-pagination .swiper-pagination-bullet-active {
  background: #374836;
}
.main .projects-section .projects-container .projects-wrapper .projects-link-wrapper {
  width: 20%;
  max-height: 480px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .projects-section .projects-container .projects-wrapper .projects-link-wrapper .projects-link-wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(images/project-links-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.main .projects-section .projects-container .projects-wrapper .projects-link-wrapper .projects-link-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #374836;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #374836;
  border-radius: 100px;
  padding: 48px 40px;
  cursor: pointer;
}
.main .projects-section .projects-container .projects-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .projects-section .projects-container .project-item {
  margin-bottom: 50px;
}
.main .projects-section .projects-container .project-item .project-img-wrapper {
  overflow: hidden;
  max-height: 480px;
  display: flex;
  align-items: center;
}
.main .projects-section .projects-container .project-item .project-img-wrapper > img {
  width: 100%;
}
.main .projects-section .projects-container .project-item .project-item-text-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.main .projects-section .projects-container .project-item .project-item-text-container .project-item-text-name-and-location {
  display: flex;
  gap: 42px;
}
.main .projects-section .projects-container .project-item .project-item-text-container .project-item-text-name-and-location .project-item-text-wrapper .project-item-text-subtitle {
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8f80;
}
.main .projects-section .projects-container .project-item .project-item-text-container .project-item-text-name-and-location .project-item-text-wrapper .project-item-text-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #374836;
}
.main .projects-section .projects-container .project-item .project-item-text-container .project-item-text-description {
  width: 40%;
  color: #7f8f80;
  line-height: 24px;
}
.main .contacts-section {
  background-color: #374836;
  color: #ffffff;
  padding: 96px 0px;
  background-image: url(images/contacts-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.main .contacts-section .contacts-container {
  display: flex;
  justify-content: space-between;
}
.main .contacts-section .contacts-container .contacts-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 88px;
  text-transform: uppercase;
}
.main .contacts-section .contacts-container .contacts-title span {
  color: #849d83;
  font-weight: 700;
}
.main .contacts-section .contacts-container .contacts-wrapper {
  width: 50%;
  line-height: 26px;
}
.main .contacts-section .contacts-container .contacts-wrapper .bold-text {
  font-weight: 700;
}
.main .contacts-section .contacts-container .contacts-wrapper .contacts-item:first-child {
  margin-bottom: 30px;
}

.footer {
  background-color: #242924;
  padding: 82px 0px;
  color: #ffffff;
}
.footer .footer-title {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}
.footer .footer-links-container a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer .footer-copyright-container {
  border-top: 1px solid #ffffff;
  margin-top: 80px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-copyright-container p {
  opacity: 0.75;
}
.footer .footer-copyright-container a {
  text-decoration: none;
  color: white;
  opacity: 0.75;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* 

--------			--------
--------  Adaptive  -------- 
--------			--------

*/
@media (max-width: 1600px) {
  .main .description-section .description-bg {
    background-size: 100%;
    background-position: left 50% bottom -250px;
  }
}
@media (max-width: 1200px) {
  .main .cooperation-section .cooperation-content .cooperation-step {
    min-width: 310px;
  }
}
@media (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header-container {
    display: flex;
    justify-content: flex-end;
  }
  .header .header-container .header-menu {
    display: none;
  }
  .header .header-container .burger-menu-btn {
    display: block;
  }
  .main .preview-section .preview-section-container {
    width: calc(100% - 60px);
  }
  .main .preview-section .preview-section-container .swiper-scrollbar {
    bottom: 20px;
    width: 100%;
  }
  .main .preview-section .preview-experience-container {
    display: none;
  }
  .main .preview-section .slider-content {
    position: static;
    transform: translateY(0%);
    margin-top: 106px;
  }
  .main .preview-section .slider-content .slide-title {
    font-size: 50px;
    line-height: 60px;
  }
  .main .preview-section .slider-content .slide-title-bold {
    margin-top: 6px;
  }
  .main .preview-section .slider-content .slide-subtitle {
    width: 100%;
  }
  .main .preview-section .slide-link-container {
    position: static;
    margin-top: 46px;
  }
  .main .description-section {
    padding-bottom: 80px;
  }
  .main .description-section .description-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .description-section .description-content-row {
    flex-direction: column;
  }
  .main .description-section .description-content-row .description-text {
    width: 100%;
  }
  .main .description-section .description-content {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 24px;
    width: 100%;
  }
  .main .cooperation-section {
    padding-bottom: 100px;
  }
  .main .cooperation-section .cooperation-title-row {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 16px;
  }
  .main .cooperation-section .cooperation-title-row .cooperation-title {
    font-size: 56px;
    line-height: 66px;
  }
  .main .cooperation-section .cooperation-title-row .cooperation-subtitle {
    display: flex;
    justify-content: space-between;
  }
  .main .cooperation-section .cooperation-title-row .cooperation-subtitle .cooperation-arrow {
    margin: 0;
  }
  .main .cooperation-section .cooperation-content .cooperation-step,
  .main .cooperation-section .cooperation-content .cooperation-bar {
    display: none;
  }
  .main .cooperation-section .cooperation-content .cooperation-tablet-steps {
    display: grid;
  }
}
@media (max-width: 650px) {
  .main .description-section .description-bg {
    background-position: left 50% bottom -100px;
    background-size: cover;
  }
  .main .description-section .description-content-row .description-row {
    flex-direction: column;
    gap: 40px;
  }
  .main .description-section .description-content-row .description-row .description-row-item {
    text-align: center;
  }
  .main .cooperation-section .cooperation-content .cooperation-tablet-steps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .preview-section {
    min-height: 910px;
    height: 100vh;
  }
  .main .preview-section .swiper {
    min-height: 910px;
    height: 100vh;
  }
  .main .preview-section .preview-section-container {
    width: calc(100% - 30px);
  }
  .main .preview-section .slider-content .slide-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.05em;
  }
  .main .preview-section .slider-content .slide-title-bold {
    margin-top: 1px;
  }
  .main .preview-section .slider-content .slide-subtitle {
    margin-top: 1px;
    margin-bottom: 24px;
  }
  .main .preview-section .slider-content .slide-buttons-row {
    gap: 20px;
  }
  .main .preview-section .slider-content .slide-buttons-row .slide-cooperation-btn {
    padding: 10px 30px;
  }
  .main .preview-section .slide-link-container {
    width: calc(100% - 41px);
    max-width: none;
  }
  .main .description-section {
    padding-top: 32px;
    padding-bottom: 42px;
  }
  .main .description-section .description-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .description-section .description-content {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: normal;
  }
  .main .cooperation-section {
    padding: 32px 0px;
  }
  .main .cooperation-section .cooperation-title-row .cooperation-title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 350px) {
  .main .cooperation-section .cooperation-title-row .cooperation-title {
    font-size: 30px;
    line-height: 40px;
  }
}