@use 'reset.scss';

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f9fbf3;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #f9fbf3;
	padding: 32px 0px;
	z-index: 100;
	.header-container {
		position: relative;
		.header-logo {
			position: absolute;
			left: 0px;
		}
		.header-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 48px;
			height: 42px;
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			line-height: 24px;
			a {
				text-decoration: none;
				color: #f9fbf3;
			}
			.header-menu-item {
				cursor: pointer;
			}
		}
		.burger-menu-btn {
			width: 24px;
			height: 24px;
			background-image: url(images/burger-menu-btn.svg);
			background-position: center;
			background-repeat: no-repeat;
			display: none;
		}
	}
	.burger-menu {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		// height: 100px;
		background-color: #f9fbf3;
		z-index: 1000;
	}
}

.main {
	.preview-section {
		height: 100vh;
		min-height: 900px;
		position: relative;
		.preview-section-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #0e0e0e;
			opacity: 0.5;
			z-index: 2;
		}
		.preview-section-container {
			max-width: 1280px;
			width: calc(100% - 160px);
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			.swiper-scrollbar {
				width: 335px;
				background-color: #f9fbf385;
				bottom: 70px;
				left: 0px;
				position: absolute;
				z-index: 1000;
				.swiper-page {
					position: absolute;
					color: #f9fbf3;
					top: -40px;
					font-weight: 700;
				}
				.swiper-start-page {
					left: 0px;
				}
				.swiper-end-page {
					right: 0px;
				}
				.swiper-scrollbar-drag {
					background-color: #f9fbf3;
					// cursor: pointer;
				}
			}
		}
		.preview-experience-container {
			position: absolute;
			right: 0px;
			top: 100px;
			color: #f9fbf3;
			width: 221px;
			.preview-experience-wrapper {
				position: relative;
				padding: 24px 16px;
				border-radius: 20px;
				z-index: 0;
				line-height: 30px;
				letter-spacing: 0.05em;
				color: #f9fbf3;
				.preview-experience-wrapper-title {
					font-weight: 700;
				}
				.preview-experience-wrapper-opacity {
					opacity: 0.75;
				}
			}
			.preview-experience-wrapper::after {
				content: '';
				position: absolute;
				z-index: -1;
				inset: 0;
				padding: 2px;
				border-radius: 20px;
				background: linear-gradient(
					210.88deg,
					rgba(255, 255, 255, 0.5) 2.43%,
					rgba(255, 255, 255, 0.1) 91.88%
				);
				-webkit-mask: linear-gradient(#fff 0 0) content-box,
					linear-gradient(#fff 0 0);
				mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}
		}
		.swiper {
			height: 100vh;
			min-height: 900px;
			.swiper-slide {
				z-index: -1;
				position: relative;
				overflow: hidden;
				> img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.scroll-container {
				position: relative;
				z-index: 100;
			}

			// .autoplay-progress {
			// 	position: absolute;
			// 	right: 16px;
			// 	bottom: 16px;
			// 	z-index: 10;
			// 	width: 48px;
			// 	height: 48px;
			// 	display: flex;
			// 	align-items: center;
			// 	justify-content: center;
			// 	font-weight: bold;
			// 	color: var(--swiper-theme-color);
			// }

			// .autoplay-progress svg {
			// 	--progress: 0;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0px;
			// 	z-index: 10;
			// 	width: 100%;
			// 	height: 100%;
			// 	stroke-width: 4px;
			// 	stroke: var(--swiper-theme-color);
			// 	fill: none;
			// 	stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
			// 	stroke-dasharray: 125.6;
			// 	transform: rotate(-90deg);
			// }
		}
		.slider-content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #f9fbf3;
			.slide-title {
				font-size: 80px;
				font-weight: 300;
				line-height: 92px;
				color: white;
			}
			.slide-title-bold {
				font-weight: 600;
				margin-top: 19px;
			}
			.slide-subtitle {
				font-size: 20px;
				line-height: 30px;
				margin-top: 37px;
				margin-bottom: 32px;
				color: #f9fbf3;
				opacity: 0.75;
				width: 60%;
			}
			.slide-buttons-row {
				display: flex;
				gap: 28px;
				align-items: center;
				.slide-cooperation-btn {
					font-family: 'Roboto', sans-serif;
					padding: 10px 40px;
					color: #374836;
					background-color: #f9fbf3;
					text-transform: capitalize;
					font-weight: 700;
					line-height: 24px;
					border: none;
					cursor: pointer;
				}
				.projects-link {
					text-decoration: none;
					color: #f9fbf3;
					> div {
						border-bottom: 1px solid #f9fbf3;
						padding-bottom: 7px;
						font-weight: 700;
						line-height: 24px;
						letter-spacing: 0.05em;
					}
				}
			}
		}
		.slide-link-container {
			position: absolute;
			bottom: 70px;
			right: 0px;
			border-radius: 20px;
			z-index: 0;
			max-width: 410px;
			color: #f9fbf3;
			padding: 25px 16px 25px 25px;
			background: linear-gradient(
				260.88deg,
				rgba(255, 255, 255, 0.5) 2.43%,
				rgba(255, 255, 255, 0.1) 91.88%
			);
			backdrop-filter: blur(5px);
			.slide-link-images-row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 30px;
				.location-img {
					width: 22px;
					height: 30px;
					background-image: url(images/location.svg);
					background-position: center;
					background-repeat: no-repeat;
				}
				.link-btn {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					background-color: #374836;
					background-image: url(images/link-arrow.svg);
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			.slide-link-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 32px;
				margin-bottom: 12px;
			}
			.slide-link-subtitle {
				opacity: 0.75;
				line-height: 24px;
			}
		}
		.slide-link-container::after {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			padding: 2px;
			border-radius: 20px;
			background: linear-gradient(
				260.88deg,
				rgba(255, 255, 255, 0.5) 2.43%,
				rgba(255, 255, 255, 0.1) 91.88%
			);
			-webkit-mask: linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}
	}
	.description-section {
		position: relative;
		padding-top: 80px;
		padding-bottom: 324px;
		.description-content {
			font-size: 48px;
			line-height: 58px;
			letter-spacing: -3px;
			color: #242924;
			width: 85%;
			margin-bottom: 78px;
		}
		.description-container {
			padding-right: 16px;
			padding-left: 80px;
			max-width: 1352px;
			margin: 0 auto;
		}
		.description-bg {
			background-image: url(images/numbers-bg-2.png);
			background-position: left 60% bottom -200px;
			background-repeat: no-repeat;
			background-size: 70%;
			opacity: 0.1;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		.description-content-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 30px;
			.description-row {
				display: flex;
				gap: 60px;
				.description-row-item {
					.description-row-item-title {
						font-size: 95px;
						font-weight: 700;
						line-height: 104.5px;
						letter-spacing: -3px;
						color: #374836;
					}
					.description-row-item-subtitle {
						font-size: 24px;
						font-weight: 400;
						line-height: 28.8px;
						color: #7f8f80;
					}
				}
			}
			.description-text {
				width: 40%;
				color: #7f8f80;
				line-height: 26px;
			}
		}
	}
	.cooperation-section {
		background-color: #374836;
		color: #ffffff;
		padding-top: 100px;
		padding-bottom: 280px;
		.cooperation-title-row {
			display: flex;
			align-items: center;
			gap: 25px;
			margin-bottom: 180px;
			.cooperation-title {
				font-size: 80px;
				font-weight: 200;
				line-height: 88px;
				text-transform: uppercase;
				.bold-text {
					font-weight: 600;
					> span {
						color: #849d83;
					}
				}
			}
			.cooperation-subtitle {
				.cooperation-subtitle-breakets {
					display: flex;
					gap: 12px;
					min-width: 150px;
				}
				.cooperation-arrow {
					width: 64px;
					height: 64px;
					border-radius: 50%;
					background-color: #f9fbf3;
					background-image: url(images/arrow-green.svg);
					background-position: center;
					background-repeat: no-repeat;
					margin-top: 64px;
					margin-left: 19px;
				}
			}
		}
		.cooperation-content {
			.cooperation-bar {
				height: 2px;
				width: 100%;
				margin: 42px 0px;
				background: linear-gradient(
					-90deg,
					#f9fbf3 45%,
					rgba(249, 251, 243, 0) 100%
				);
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-items: end;
				.cooperation-bar-circle {
					width: 24px;
					height: 24px;
					background-color: #f9fbf3;
					border-radius: 50%;
					margin-top: -10px;
					position: relative;
				}
			}
			.cooperation-step {
				width: fit-content;
				min-width: 330px;
				max-width: 400px;
				.cooperation-step-title {
					font-size: 24px;
					font-weight: 500;
					line-height: 32px;
				}
				.cooperation-step-subtitle {
					font-size: 20px;
					font-weight: 400;
					line-height: 30px;
					opacity: 0.5;
				}
			}
			.cooperation-step-3 {
				position: absolute;
				bottom: 55px;
			}
			.cooperation-step-2,
			.cooperation-step-4 {
				position: absolute;
				top: 55px;
			}
			.cooperation-tablet-steps {
				display: none;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				gap: 44px 20px;
				.cooperation-step-title {
					font-size: 24px;
					font-weight: 500;
					line-height: 32px;
					margin-bottom: 12px;
				}
				.cooperation-step-subtitle {
					font-size: 20px;
					line-height: 30px;
					opacity: 0.5;
				}
			}
		}
	}
	.services-section {
		padding-top: 60px;
		padding-bottom: 120px;
		.services-header-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #374836;
			margin-bottom: 36px;
			.services-subtitle-breakets {
				display: flex;
				gap: 12px;
				font-weight: 700;
				text-transform: uppercase;
			}
			.services-subtitle-underline {
				font-weight: 700;
				line-height: 24px;
				border-bottom: 1px solid #374836;
			}
		}
		.services-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 24px;
			transition: grid-template-columns 0.5s;
			.services-item {
				min-height: 740px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				color: #f9fbf3;
				border-radius: 20px;
				padding: 32px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				position: relative;
				transition: all 0.5s;
				.services-item-title {
					font-size: 24px;
					font-weight: 500;
					line-height: 34px;
					z-index: 10;
					text-transform: uppercase;
					transition: all 0.5s;
				}
				.services-item-subtitle {
					line-height: 24px;
					z-index: 10;
					transition: all 0.5s;
				}
				.services-item-cover {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					border-radius: 20px;
					background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 28.92%,
						rgba(0, 0, 0, 0.4) 74.32%
					);
				}
			}
			.services-item-big {
				// border-radius: 40px;s
				.services-item-title {
					font-size: 46px;
					font-weight: 500;
					line-height: 56px;
					letter-spacing: 0.05em;
				}
				.services-item-subtitle {
					font-size: 20px;
					line-height: 30px;
				}
				.services-item-cover {
					border-radius: 40px;
				}
			}
			.services-item-1 {
				background-image: url(images/services-item-img-1.png);
			}
			.services-item-2 {
				background-image: url(images/services-item-img-2.jpg);
			}
			.services-item-3 {
				background-image: url(images/services-item-img-3.jpg);
			}
			.services-item-4 {
				background-image: url(images/services-item-img-4.jpg);
			}
		}
		.hovered-1 {
			grid-template-columns: 2fr 1fr 1fr 1fr;
			.services-item-1 {
				// border-radius: 40px;
				.services-item-title {
					font-size: 46px;
					font-weight: 500;
					line-height: 56px;
					letter-spacing: 0.05em;
				}
				.services-item-subtitle {
					font-size: 20px;
					line-height: 30px;
				}
				// .services-item-cover {
				// 	border-radius: 40px;
				// }
			}
		}
		.hovered-2 {
			grid-template-columns: 1fr 2fr 1fr 1fr;
			.services-item-2 {
				// border-radius: 40px;
				.services-item-title {
					font-size: 46px;
					font-weight: 500;
					line-height: 56px;
					letter-spacing: 0.05em;
				}
				.services-item-subtitle {
					font-size: 20px;
					line-height: 30px;
				}
				// .services-item-cover {
				// 	border-radius: 40px;
				// }
			}
		}
		.hovered-3 {
			grid-template-columns: 1fr 1fr 2fr 1fr;
			.services-item-3 {
				// border-radius: 40px;
				.services-item-title {
					font-size: 46px;
					font-weight: 500;
					line-height: 56px;
					letter-spacing: 0.05em;
				}
				.services-item-subtitle {
					font-size: 20px;
					line-height: 30px;
				}
				// .services-item-cover {
				// 	border-radius: 40px;
				// }
			}
		}
		.hovered-4 {
			grid-template-columns: 1fr 1fr 1fr 2fr;
			.services-item-4 {
				// border-radius: 40px;
				.services-item-title {
					font-size: 46px;
					font-weight: 500;
					line-height: 56px;
					letter-spacing: 0.05em;
				}
				.services-item-subtitle {
					font-size: 20px;
					line-height: 30px;
				}
				// .services-item-cover {
				// 	border-radius: 40px;
				// }
			}
		}
	}
	.thoughts-section {
		background-color: #e1ece3;
		padding: 100px 0px;
		.thoughts-section-container {
			padding-right: 200px;
			padding-left: 200px;
			margin: 0 auto;
			max-width: 1000px;
		}
		.thoughts-subtitle-breakets {
			display: flex;
			gap: 12px;
			color: #374836;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 43px;
			justify-content: center;
		}
		.thoughts-container {
			display: flex;
			gap: 56px;
			.thoughts-photo {
				min-width: 193px;
				height: 193px;
				border-radius: 50%;
				background-image: url(images/thoughts-img.jpg);
				background-position: center;
				background-repeat: no-repeat;
			}
			.thoughts-content {
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
				.thoughts-text {
					margin-bottom: 24px;
				}
				.thoughts-bold {
					font-size: 16px;
					font-weight: 500;
					line-height: 16px;
					text-transform: uppercase;
					margin-bottom: 8px;
				}
				.thoughts-subtitle {
					font-size: 16px;
					font-weight: 400;
					line-height: 16px;
					color: #7f8f80;
				}
			}
		}
	}
	.projects-section {
		padding-top: 83px;
		padding-bottom: 83px;
		.projects-header-row {
			display: flex;
			gap: 30px;
			margin-bottom: 64px;
			.projects-title {
				font-size: 80px;
				font-weight: 700;
				line-height: 88px;
				color: #374836;
				text-transform: uppercase;
				span {
					color: #7f8f80;
				}
			}
			.projects-subtitle-breakets {
				display: flex;
				gap: 12px;
				line-height: 24px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		.projects-container {
			max-width: 1280px;
			margin: 0 auto;
			padding-left: 80px;
			padding-right: 80px;
			position: relative;
			.projects-wrapper {
				display: flex;
				gap: 24px;
				margin-right: -80px;
				.projects-tablet-swiper {
					display: none;
					width: 100%;
					margin-right: -30px;
					.swiper-slide {
						width: 80%;
						margin-left: 0px;
						margin-right: 0;
						align-items: flex-start;
						transition: opacity 0.5s;
					}
					.swiper-slide-next {
						opacity: 0.2;
					}
				}
				.projects-swiper {
					width: 80%;
					margin-left: 0px;
					margin-right: 0;
					.projects-swiper-pagination {
						.swiper-pagination-bullet-active {
							background: #374836;
						}
					}
				}
				.projects-link-wrapper {
					width: 20%;
					max-height: 480px;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					.projects-link-wrapper-bg {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0.2;
						background-image: url(images/project-links-img.jpg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						z-index: -1;
					}
					.projects-link-btn {
						font-size: 20px;
						font-weight: 500;
						line-height: 30px;
						letter-spacing: 0.05em;
						color: #374836;
						text-transform: uppercase;
						background-color: transparent;
						border: 2px solid #374836;
						border-radius: 100px;
						padding: 48px 40px;
						cursor: pointer;
					}
				}
				.swiper-slide {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.project-item {
				margin-bottom: 50px;
				.project-img-wrapper {
					overflow: hidden;
					max-height: 480px;
					display: flex;
					align-items: center;
					> img {
						width: 100%;
					}
				}
				.project-item-text-container {
					margin-top: 40px;
					display: flex;
					justify-content: space-between;
					// align-items: center;
					.project-item-text-name-and-location {
						display: flex;
						gap: 42px;
						.project-item-text-wrapper {
							.project-item-text-subtitle {
								line-height: 24px;
								text-transform: uppercase;
								color: #7f8f80;
							}
							.project-item-text-title {
								font-size: 20px;
								font-weight: 700;
								line-height: 30px;
								text-transform: uppercase;
								color: #374836;
							}
						}
					}
					.project-item-text-description {
						width: 40%;
						color: #7f8f80;
						line-height: 24px;
					}
				}
			}
			// .projects-tablet-swiper-shadow {
			// 	position: absolute;
			// 	top: 0px;
			// 	right: -30px;
			// 	height: 100%;
			// 	width: 20%;
			// 	background-color: #d9d9d9;
			// 	background: rgb(217, 217, 217);
			// 	background: linear-gradient(
			// 		90deg,
			// 		rgba(217, 217, 217, 0) 0%,
			// 		rgba(217, 217, 217, 1) 100%
			// 	);
			// 	// opacity: 0.2;
			// 	z-index: 100;
			// }
		}
		.projects-tablet-btn-container {
			display: none;
		}
	}
	.contacts-section {
		background-color: #374836;
		color: #ffffff;
		padding: 96px 0px;
		background-image: url(images/contacts-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		.contacts-container {
			display: flex;
			justify-content: space-between;
			.contacts-title {
				font-size: 80px;
				font-weight: 300;
				line-height: 88px;
				text-transform: uppercase;
				span {
					color: #849d83;
					font-weight: 700;
				}
			}
			.contacts-wrapper {
				width: 50%;
				line-height: 26px;
				.bold-text {
					font-weight: 700;
				}
				.contacts-item:first-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}

.footer {
	background-color: #242924;
	padding: 82px 0px;
	color: #ffffff;
	.footer-title {
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.footer-links-container {
		display: flex;
		justify-content: space-between;
		gap: 54px;
		a {
			display: block;
			color: white;
			text-decoration: none;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
	}
	.footer-copyright-container {
		border-top: 1px solid #ffffff;
		margin-top: 80px;
		padding-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			opacity: 0.75;
		}
		a {
			text-decoration: none;
			color: white;
			opacity: 0.75;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
		}
	}
}

/* 

--------			--------
--------  Adaptive  -------- 
--------			--------

*/

// ------------- Large Desktop -------------
@media (max-width: 1600px) {
	.main {
		.description-section {
			.description-bg {
				background-size: 100%;
				background-position: left 50% bottom -250px;
			}
		}
	}
}

@media (max-width: 1350px) {
	.main {
		.services-section {
			.services-container {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				.services-item {
					min-height: 500px;
				}
			}
		}
	}
}

// ------------- Laptop -------------
@media (max-width: 1200px) {
	.main {
		.cooperation-section {
			.cooperation-content {
				.cooperation-step {
					min-width: 310px;
				}
			}
		}
		.thoughts-section {
			.thoughts-section-container {
				padding-left: 120px;
				padding-right: 120px;
			}
		}
		.contacts-section {
			.contacts-container {
				flex-direction: column;
				gap: 24px;
				.contacts-wrapper {
					display: flex;
					gap: 36px;
				}
			}
		}
	}
}

// ------------- Tablet -------------
@media (max-width: 992px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.header {
		.header-container {
			display: flex;
			justify-content: flex-end;
			.header-menu {
				display: none;
			}
			.burger-menu-btn {
				display: block;
			}
		}
	}

	.main {
		.preview-section {
			.preview-section-container {
				width: calc(100% - 60px);
				.swiper-scrollbar {
					bottom: 20px;
					width: 100%;
				}
			}
			.preview-experience-container {
				display: none;
			}
			.slider-content {
				position: static;
				transform: translateY(0%);
				margin-top: 106px;
				.slide-title {
					font-size: 50px;
					line-height: 60px;
				}
				.slide-title-bold {
					margin-top: 6px;
				}
				.slide-subtitle {
					width: 100%;
				}
			}
			.slide-link-container {
				position: static;
				margin-top: 46px;
			}
		}
		.description-section {
			padding-bottom: 80px;
			.description-container {
				padding-left: 30px;
				padding-right: 30px;
			}
			.description-content-row {
				flex-direction: column;
				.description-text {
					width: 100%;
				}
			}
			.description-content {
				font-size: 36px;
				line-height: 46px;
				margin-bottom: 24px;
				width: 100%;
			}
		}
		.cooperation-section {
			padding-bottom: 100px;
			.cooperation-title-row {
				flex-direction: column;
				align-items: normal;
				margin-bottom: 16px;
				.cooperation-title {
					font-size: 56px;
					line-height: 66px;
				}
				.cooperation-subtitle {
					display: flex;
					justify-content: space-between;
					.cooperation-arrow {
						margin: 0;
					}
				}
			}
			.cooperation-content {
				.cooperation-step,
				.cooperation-bar {
					display: none;
				}
				.cooperation-tablet-steps {
					display: grid;
				}
			}
		}
		.thoughts-section {
			.thoughts-section-container {
				padding-left: 30px;
				padding-right: 30px;
			}
			.thoughts-subtitle-breakets {
				justify-content: flex-start;
			}
			.thoughts-container {
				flex-direction: column;
				align-items: center;
				gap: 32px;
			}
		}
		.projects-section {
			.projects-container {
				padding-left: 30px;
				padding-right: 0px;
				.projects-wrapper {
					margin-right: 0px;
					.projects-swiper {
						display: none;
					}
					.projects-tablet-swiper {
						display: block;
						margin-left: 0;
						.swiper-pagination {
							margin-left: -15px;
							.swiper-pagination-bullet-active {
								background: #374836;
							}
						}
					}
					.projects-link-wrapper {
						display: none;
					}
				}
				.project-item {
					.project-item-text-container {
						flex-direction: column;
						gap: 16px;
						.project-item-text-name-and-location {
							flex-direction: column;
							gap: 16px;
						}
						.project-item-text-description {
							width: 100%;
						}
					}
				}
			}
			.projects-header-row {
				flex-direction: column;
				.projects-title {
					font-size: 56px;
					line-height: 66px;
				}
			}
			.projects-tablet-btn-container {
				display: block;
				text-align: center;
				margin-top: 32px;
				.projects-tablet-btn {
					color: #374836;
					background-color: transparent;
					border: 2px solid #374836;
					border-radius: 100px;
					padding: 8px 16px;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					line-height: 16px;
					letter-spacing: 0.05em;
					text-transform: uppercase;
				}
			}
		}
		.contacts-section {
			.contacts-container {
				.contacts-title {
					font-size: 56px;
					line-height: 66px;
				}
				.contacts-wrapper {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.main {
		.description-section {
			.description-bg {
				background-position: left 50% bottom -100px;
				background-size: cover;
			}
			.description-content-row {
				.description-row {
					flex-direction: column;
					gap: 40px;
					.description-row-item {
						text-align: center;
					}
				}
			}
		}
		.cooperation-section {
			.cooperation-content {
				.cooperation-tablet-steps {
					grid-template-columns: 1fr;
					grid-template-rows: repeat(4, 1fr);
				}
			}
		}
	}
}

// ------------- Mobile -------------
@media (max-width: 576px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main {
		.preview-section {
			min-height: 910px;
			height: 100vh;
			.swiper {
				min-height: 910px;
				height: 100vh;
			}
			.preview-section-container {
				width: calc(100% - 30px);
			}
			.slider-content {
				.slide-title {
					font-size: 40px;
					line-height: 60px;
					letter-spacing: 0.05em;
				}
				.slide-title-bold {
					margin-top: 1px;
				}
				.slide-subtitle {
					margin-top: 1px;
					margin-bottom: 24px;
				}
				.slide-buttons-row {
					gap: 20px;
					.slide-cooperation-btn {
						padding: 10px 30px;
					}
				}
			}
			.slide-link-container {
				width: calc(100% - 41px);
				max-width: none;
			}
		}
		.description-section {
			padding-top: 32px;
			padding-bottom: 42px;
			.description-container {
				padding-left: 15px;
				padding-right: 15px;
			}
			.description-content {
				font-size: 24px;
				font-weight: 400;
				line-height: 34px;
				letter-spacing: normal;
			}
		}
		.cooperation-section {
			padding: 32px 0px;
			.cooperation-title-row {
				.cooperation-title {
					font-size: 36px;
					line-height: 46px;
				}
			}
		}
		.services-section {
			padding: 28px 0px;
			.services-header-row {
				margin-bottom: 26px;
			}
			.services-container {
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				.services-item {
					min-height: auto;
					height: 216px;
					.services-item-title {
						margin-bottom: 8px;
					}
				}
				.services-item-1 {
					min-height: 540px;
				}
			}
		}
		.thoughts-section {
			padding: 20px 0px;
			.thoughts-section-container {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.projects-section {
			padding-top: 30px;
			padding-bottom: 44px;
			.projects-container {
				padding-left: 15px;
				.project-item {
					.project-item-text-container {
						margin-top: 16px;
					}
				}
				.projects-wrapper {
					.projects-tablet-swiper {
						.swiper-pagination {
							margin-left: -10px;
						}
					}
				}
			}
			.projects-header-row {
				gap: 16px;
				margin-bottom: 30px;
				.projects-title {
					font-size: 36px;
					font-weight: 600;
					line-height: 46px;
				}
			}
		}
		.contacts-section {
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 24px;
			padding-top: 22px;
			padding-bottom: 30px;
			background-size: 120%;
			background-position: right -100px bottom -50px;
			.contacts-container {
				.contacts-title {
					font-size: 32px;
					line-height: 42px;
				}
				.contacts-wrapper {
					flex-direction: column;
					.contacts-item:first-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

// ------------- Small Mobile -------------
@media (max-width: 350px) {
	.main {
		.preview-section {
			.slider-content {
				.slide-title {
					font-size: 36px;
					line-height: 46px;
				}
			}
		}
		.cooperation-section {
			.cooperation-title-row {
				.cooperation-title {
					font-size: 30px;
					line-height: 40px;
				}
			}
		}
		.contacts-section {
			.contacts-container {
				.contacts-title {
					font-size: 26px;
					line-height: 36px;
				}
			}
		}
	}
}
